<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="todos"
      aria-selected="true">Todos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="Autos"
      aria-selected="false">Autos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Salud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact2-tab2" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2"
      aria-selected="false">Hogar</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row mt-5" >
      <div class="col-9">
        <div class="row">
          <div class="col-md-3">
            <app-autos></app-autos>
          </div>
          <div class="col-md-3">
            <app-salud></app-salud>
          </div>
          <div class="col-md-3">
            <app-hogar></app-hogar>
          </div>
        </div>

      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Servicio</h5>
            <form [formGroup]="formSistemas"  class="m-login__form m-form" novalidate>
            <div class="card-text"  >
              <div class="mt-3 ">
                <label>Nombre</label>
              <input type="text"  formControlName="nombre" class="d-block"/>
             
              </div>
              <div class="mt-3">
                <label>Descripción</label>
              <input type="text" formControlName="descripcion" />
             
              </div>
            </div>
          </form>
            <div class="mt-5"> 

             <button type="button" [disabled]="!formSistemas.valid" class="btn btn-primary" (click)="guardar()">Guardar</button>
             <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
            </div>
          
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

    <app-autos></app-autos>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <app-salud></app-salud>
  </div>
  <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
    <app-hogar></app-hogar>
  </div>
</div>